html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: #2F2E2E;
    font-family: "Playfair Display", serif;
}

.container {
    max-width: 1247px;
    margin: 0 auto;
}

.logo {
    margin: 0;
    font-size: 42px;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
}

.text-h2 {
    
    font-size: 51px;
    font-weight: 900;
    
}

.text-h3 {
    font-size: 27px;
    font-weight: 900;
}

.text-p {
    
}

/********************Header***********************/
.header {
    padding-top: 45px;
    padding-bottom: 85px;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-block {
    margin-bottom: 7px;
    
}

nav {
    margin-left: 285px;
    /* margin-left: 19px;  */
    padding-top: 5px;
    
    /* margin-top: 5px; */
}
.header-menu {
    display: flex;
    gap: 94px;

}

.header-menu li {
    list-style-type: none;
    width: 77px; 
}

.menu-width {
    width: 57px;
}



.header-menu a {
    text-decoration: none;
    color: #2F2E2E;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
}



.header-menu a:active {
    font-weight: 700;
}

.header-menu a:hover {
    font-weight: 700;

}

.burger {
    display: none;
}



.search {
    color: #2F2E2E;
}
.header .fa {
    cursor: pointer;
    font-weight: 900;
    font-size: 25px;
    margin-top: 4px;
    margin-right: 4px;
}

/* .solution {
    height: 739px;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: 70%;
    background-size: 115vh;
} */

/*****************************Solution*************************/
.solution {
    position: relative;
    height: 737px;
}

.img-block {
    float: right;
    width: 1390px;
    height: 737px;
}

.solution-item {
    padding-top: 138px;
    padding-left: 100px;
    position: absolute;
    top: 95px;
    left: -1px;
    height: 550px;
    width: 691px;
    background-color: #F4F6F5;
    opacity: 0.9;
}

.solution-item .text-h2 {
    text-transform: capitalize;
    width: 425px;
    margin-bottom: 7px;
    
}

.solution-item .text-p {
    margin: 0;
    width: 436px;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    line-height: 1.4em;
}

/*****************************Serivces*************************/

.services {
    background-color: hsl(180, 35%, 22%, 20%);
    padding-top: 16px;
    padding-bottom: 67px;
}

.services .container {
    max-width: 1087px;
}

.text-h2 {
    margin: 0;
    text-align: center;
}
.services__flex {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
.services__flex-item {
    text-align: center;
}

.services-img {
    margin: 0 auto;
    border-radius: 100%;
    height: 103px;
    width: 103px;
    background-color: #254D4D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-h3 {
    margin: 0;
    margin-bottom: 7px;
}
.tetx-p {
    margin: 0;
    width: 158px;
    font-size: 16px;
    font-weight: 400;
}

/*****************************About_us*************************/

.aboutus {
    padding-top: 76px;
    padding-bottom: 48px;
}

.aboutus__flex {
    display: flex;
    justify-content: space-between;
    margin-left: 3px;
    
}
.aboutus__flex img { 
    height: 571px;
    width: 735px;
}

.text-block {
    margin-top: 64px;
    margin-left: 87px;
}

.text-block .text-h2 {
    text-align: left;
    margin-bottom: 23px;
}

.aboutus__flex .text-p {
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 31px;
    font-weight: 400;
    line-height: 1.62em;
    margin-bottom: 31px;
    width: 450px;

}

.btn {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #2F2E2E;

}

/*****************************Projects*************************/
.project {
    padding-top: 47px;
    padding-bottom: 45px;
}
.project .text-h2 {
    text-align: left;
    margin-left: 3px;
    margin-bottom: 71px;
}

.projects__grid {
    margin-left: 3px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 104px;
    row-gap: 85px;
    
}

.projects__grid img {
    margin-bottom: 9px;
}

.projects__grid .text-p {
    width: 178px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}
/*****************************Testimonial*************************/

.testimonial {
    padding-top: 45px;
    padding-bottom: 150px;
}
.testimonial .text-h2 {
    margin-bottom: 78px;
    margin-left: 14px;
}
.testimonial__flex {
    margin-left: 3px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.testimonial__flex-item {
    display: flex;
    justify-content: space-between;
}
.person-block {
    margin-left: 29px;
    
}
.person-block .text-h3 {
    margin: 0;
    margin-top: 13px;
    width: 363px;
    margin-bottom: 16px;

}
.person-block .text-p {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    width: 307px;
    line-height: 1.4em;
}

.block-right {
    margin-right: 36px;
}

.block-right .person-block {
    margin-left: 21px;
}


/*****************************Footer*************************/

.footer {
    padding-top: 47px;
    padding-bottom: 44px;
    background-color: #2F2E2E;
    color: #fafafa;
}
.footer__flex {
    display: flex;
    gap: 140px;
}
.footer__flex-item {
}
.logo-block {
}
.logo {
}
.footer .text-p {
    margin: 0;
    margin-top: 7px;
    margin-left: 4px;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 400px;
    width: 285px;
    line-height: 29px;
    margin-bottom: 44px;

}


.cosial {
    display: flex;
    gap: 16px;
}


    
.cosial .fa {
    cursor: pointer;
}

.facebook {
    margin-left: 7px;
    font-size: 24px;
    margin-right: 26px;
}

.twitter {
    font-size: 26px;
    margin-right: 23px;
}

.instagram {
    font-size: 24px;
}

.text-h4 {
    margin: 0;
    margin-top: 9px;
    margin-left: 1px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 18px;
}


.arcticles {
    padding: 0;
    margin: 0;
    margin-left: 2px;
    font-size: 17px;
    list-style-type: none;
    width: 201px;
    font-family: "Inter", sans-serif;
}

.arcticles li {
    margin-bottom: 10px;
    line-height: 1.5em;
}

.arcticles li:last-child {
    margin-bottom: 0;
}
.block-margin {
    margin-right: 177px;
}

.map-title {
    margin-left: 0;
}

.footer-map {
    height: 221px;
    width: 295px;
}

@media screen and (max-width: 1280px) {

    .container {
        max-width: 1280px;
    }

}
    .logo-block {
        margin-left: 50px;
    }

    .header-btn {
        margin-right: 50px;
    }
    .text-block {
        margin-left: 50px;
    }

    .projects__grid {
        text-align: center;
        gap: 60px   ;
    }


    .project .text-h2 {
       
        margin-left: 25px;
    }
    .testimonial__flex {
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer__flex {
        justify-content: center;
        gap: 100px;
    }


@media screen and (max-width: 992px) {
    .container {
        max-width: 992px;
    }

    .text-h2 {
        font-size: 40px;
    }

    .logo-block {
        margin-left: 30px;
    }

    nav {
        margin-left: 0px;
    }

    .header-menu {
        gap: 65px;
    }

    .search {
        margin-right: 30px;
    }

    .services__flex {
        margin-right: 30px;
        margin-left: 30px;
    }
        

    .solution-item {
        padding-top: 125px;
        padding-left: 60px;
        height: 480px;
        width: 520px;
    }

    .solution-item .text-h2 {
       text-align: left;
       width: 329px;

    }

    .text-block {
        margin-top: 45px;
        margin-left: 25px;
    }
    
    .aboutus__flex img {
        height: 430px;
        width: 500px;
    }


    .aboutus__flex .text-p {
        font-size: 25px;
    }
    .project .text-h2 {
        text-align: center;
    }

    .projects__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* .projects__grid {
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    } */

 

    .testimonial__flex-item {
        flex-wrap: wrap;
    }

    .block-right {
        margin-right: 0;
    }




    .block-margin {
        margin-right: 0px;
    }

    .footer__flex {
        gap: 75px;
    }



} 

@media screen and (max-width: 769px) {
    .container {
        max-width: 769px;
    }

    .text-h2 {
        font-size: 35px;
    }

    nav {
        display: none;
    }
    .header-btn {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-right: 35px;
    }
    .burger {
        display: block;
    }


    .burger-line {
        
        display: flex;
        margin-bottom: 5px;
        height: 3px;
        width: 30px;
        background-color: #2F2E2E;
        color: #2F2E2E;
    }

    .burger-line:last-child {
        margin-bottom: 0;
    }

    .solution-item {
        padding-left: 35px;
        padding-top: 60px;
        height: 350px;
        width: 400px;
    }

    .solution-item .text-p {
        font-size: 20px;
        width: 325px;
    }


    .img-block {
        width: 1214px;
        height: 575px;
    }
    .solution {
        position: relative;
        height: 575px;
    }

    .aboutus {
        padding-top: 50px;
    }
    .aboutus__flex img {
        height: 330px;
        width: 390px;
    }

    .text-block {
        margin-top: 10px;
        margin-left: 0;
    }

    .aboutus__flex .text-p {
        font-size: 20px;
        width: 315px;
        margin-bottom: 20px;
    }

    .text-block .text-h2 {
        margin-bottom: 12px;
    }

    .btn {
        font-size: 18px;
    }

    .project {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .projects__grid {
        gap: 35px;
    }
    .projects__grid .text-p {
        font-size: 15px;
    }


    .testimonial {
        padding-bottom: 100px;
    }
    .testimonial .text-h2 {
        margin-bottom: 55px;
    }
    .person-block .text-h3 {
        font-size: 25px;
    }
    .person-block .text-p {
        margin: 0;
        font-size: 15px;
    }

    .logo {

        font-size: 30px;
    }

    .footer .logo-block {
        margin-left: 0;
    }
    
    .footer .text-p {
        font-size: 15px;
    }

    .arcticles {
        font-size: 15px;
    }

    .text-h4 {
        font-size: 20px;
    }


    .footer__flex {
        flex-wrap: wrap;
        gap: 0;
        justify-content: center;
        column-gap: 130px;
        row-gap: 40px;
    }

    .map-title {
        text-align: center;
    }

    .footer-map {
        height: 230px;
        width: 620px;
    }
}

@media screen and (max-width: 576px) {

    /*****************************About us*************************/

    .aboutus {
        padding-top: 0;
    }
    .aboutus__flex {
        flex-direction: column;
    }

    .aboutus__flex img {
        width: 100%;
        height: auto;
    }
    .text-block {
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
    }

    .text-block .text-h2 {
        text-align: center;
    }
    .aboutus__flex .text-p {
        width: 100%;
    }
    
    /*****************************Projects*************************/

    .projects__grid {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
    }

    .project .text-h2 {
       margin-left: 0;
       margin-bottom: 50px;
    }

    .projects__grid img {
        width: 100%;
    }

    .projects__grid .text-p {
        font-size: 18px;
    }



    .footer {
        padding-bottom: 80px;
    }

    .footer .text-h4 {
        font-size: 24px;
    }

    .footer__flex {
        display: block;
    }

    .footer__flex-item {
        text-align: center;
    }

    .footer .text-p {
        text-align: center;
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .logo-block {
        position: relative;
    }
    .cosial {
        justify-content: center;
        position: absolute;
        top: 585px;
        left: 35%;

    }

    .arcticles {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .footer-map {
        width: 100%;
    }
    

}

 
  